{% extends "layout.html" %}
{% import "carte.macro.html" as macro %}
{% block title %}Bienvenue au vidéo-poker !{% endblock %}
{% block body %}
<section>
    <h2 class="title">Choisissez vos cartes !</h2>
</section>
<section>
    <h3 class="title">Les cartes tirées par la machine sont les suivantes</h3>
    {% if resultat is not defined %}
        <h5 class="title">Cliquer sur les cartes à conserver</h5>
    {% endif %}
    <article>
        <!-- 
            Si c'est pour le premier tirage, le formulaire demandera un autre tirage au contrôleur Flask (/video-poker/second)
            Dans le cas contraire, si on connaît déjà le résultat, on revient à la page d'accueil pour resaisir une mise
         -->
        <form method="{{ 'POST' if resultat is not defined else 'GET' }}" id="cardboard" action="{{ '/video-poker/second' if resultat is not defined else '/' }}">
            {% if resultat is not defined %}
                <div style="display: inline">
                {% for data in cartes %}
                    {{ macro.carte(data['carte'],data['img'],true) }}
                {% endfor %}
                </div>
                <br/>
                <br/>
                <button type="submit">Soumettre !</button>
            {% else %}
                {% for data in cartes %} <!-- Si le résultat est connu, on affiche les cartes de telle sorte à ce qu'elles ne soient pas sélectionnables -->
                    {{ macro.carte(data['carte'],data['img'],false) }}
                {% endfor %}
                <h4 id="message">{{ resultat }}</h4>
                <button type="submit" style="background-color: rgb(84, 143, 96);">Rejouer !</button>
            {% endif %}
        </form>
    </article>
</section>
<section>
    <h3 class="title">Votre cagnotte : {{ session["bankroll"] }} €</h3>
</section>
{% endblock %}