{% extends "layout.html" %}
{% block title %}Partie{% endblock %}
{% block body %}
    <section>
        <h2 class="title">Bienvenue au vidéo-poker</h2>
    </section>
    <section>
        <article id="start_game">
            <h3>Faites vos jeux</h3>
            <h4>Banque : <span id="bank">{{bank}}</span></h4>
            <form id="start_game_form" method="POST">
                <label for="mise">Mise : </label>
                <input name="mise" type="number" min="1"/>
                <input name="bank" type="hidden" value="{{bank}}"/>
                
                <button type="submit">Jouer !</button>         
            </form>
        </article>
    </section>
{% endblock %}